.content {
    position: relative
}

.item{
    width: 105px;
    height: 105px;
    background: forestgreen;
    position: absolute;
}

.item-2 {
    display: none;
    background-color: orange;
}

.content:hover .item-2 {
    z-index: 1;
    display: block;
}