.container{
    min-width: 500px;
    margin: 0 auto;
}

.header{
    border: 1px solid #000;
    height: 150px;
    position: relative;
}


.logo{
    width: 35px;
    height: 35px;
    background-color: forestgreen;
    position: absolute;
    top: 50px;
    left: 50px;
}