a {
    text-decoration: none;
   }

.menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
    }

.heading {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.title {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.photo {
    border-radius: 10px;
}

.form_field {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}